@page
@model RazorPagesRenterprise.Pages_Rental.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rental.Reg" class="control-label"></label>
                <input asp-for="Rental.Reg" class="form-control" />
                <span asp-validation-for="Rental.Reg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.Customer" class="control-label"></label>
                <input asp-for="Rental.Customer" class="form-control" />
                <span asp-validation-for="Rental.Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.OutLoc" class="control-label"></label>
                <input asp-for="Rental.OutLoc" class="form-control" />
                <span asp-validation-for="Rental.OutLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.RetLoc" class="control-label"></label>
                <input asp-for="Rental.RetLoc" class="form-control" />
                <span asp-validation-for="Rental.RetLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.StartDate" class="control-label"></label>
                <input asp-for="Rental.StartDate" class="form-control" />
                <span asp-validation-for="Rental.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.ReturnDate" class="control-label"></label>
                <input asp-for="Rental.ReturnDate" class="form-control" />
                <span asp-validation-for="Rental.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
