@page
@model RazorPagesRenterprise.Pages_Workshop.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Workshop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Workshop.Reg" class="control-label"></label>
                <input asp-for="Workshop.Reg" class="form-control" />
                <span asp-validation-for="Workshop.Reg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workshop.Fault" class="control-label"></label>
                <input asp-for="Workshop.Fault" class="form-control" />
                <span asp-validation-for="Workshop.Fault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workshop.CompletionDate" class="control-label"></label>
                <input asp-for="Workshop.CompletionDate" class="form-control" />
                <span asp-validation-for="Workshop.CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workshop.Mechanic" class="control-label"></label>
                <input asp-for="Workshop.Mechanic" class="form-control" />
                <span asp-validation-for="Workshop.Mechanic" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Workshop.Status" class="control-label"></label>
                <input asp-for="Workshop.Status" class="form-control" />
                <span asp-validation-for="Workshop.Status" class="text-danger"></span>
            </div>                         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
