html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tile-item {
  list-style-type: none;
  border: 1px solid rgb(77, 83, 91);
  border-radius: 8px;
  box-shadow: #4d535b 0px 8px 18px 0px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  justify-content: space-around;
  width: 325px;
}

.tile-img {
  width: 200px;
  height: auto;
  margin: auto;
}

li {
  padding: 10px;
}

.display-4 {
  color: #4d535b;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 80px;
}

h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  color: #4d535b;
  font-size: 80px;
  margin-top: 20px;
}

h3 {
  color: #4d535b;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  text-decoration: underline;
}

.container {
  min-width: fit-content;
  max-width: fit-content;
}

/* nav */

img.logo {
  align-items: center;
  height: 15rem;
  border: 1px solid rgb(77, 83, 91);
  border-radius: 8px;
  box-shadow: #4d535b 0px 8px 18px 0px;
}

a {
  text-decoration: none;
  color: rgb(77, 83, 91);
  font-weight: 500;
}
.form-control {
  width: 20rem;
}

.nav-bg {
  background-color: 1px solid rgb(77, 83, 91);
}

.table th {
  padding: 15px 25px;
  font-size: 30px;
}
.table td {
  padding: 15px 25px;
  font-size: 20px;
}

.button {
  margin-top: 50px;
  font-size: 30px;
  text-decoration: underline;
}
