@page
@model HelpModel
@{
    ViewData["Title"] = "Spotted something that's not quite right?";
}

<div class="help">
<h1>@ViewData["Title"]</h1>

<h4>Create a ticket with IT using the link below, please provide examples and screenshots where possible.</h4>
<h4>Thanks, Renterprise IT</h4>
</div>

<div class="helpbtn">
    <p class="btn"><a href="mailto:hannah.smith@em.com">Create a Ticket</a></p>
</div>